@keyframes biggerVid {
    from {
        height: 28em;
    }

    to {
        height: 5em;
    }
}

@keyframes smallerVid {
    from {
        height: 5em;
    }

    to {
        height: 28em;
    }
}

@keyframes showStage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes showPlayBtn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes startBtnMove {
    from {
        margin-right: 600px;
        opacity: 0;
    }

    to {
        margin-right: 0;
    }
}

@font-face {
    font-family: myFont;
    src: url("./font/kubos-light.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
}

body {
    background-color: #1c1919;
}

a {
    position: fixed;
    opacity: 0.5;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.4s ease;
}

a:hover {
    opacity: 0.8;
}

.startScreen {
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
}

#vid {
    height: 28em;
    margin-top: 20px;
}

#playBtn {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #fceaf6;
    text-shadow: 3px 0px 2px #f930ee;
    background-color: #463e43;
    box-shadow: 0px 8px 1px rgb(8, 8, 8);
    transition: all 0.2s ease;
    animation: startBtnMove 0.2s ease 0.3s 1 normal both;
}

#playBtn:hover {
    background-color: #5f545b;
}

#playBtn:active {
    box-shadow: none;
    margin-top: 8px;
}

.container {
    height: 100vh;
    display: none;
    grid-template-areas: "c1 c2 c3"
        "c4 c5 c6"
        "c7 c8 c9";
    gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 13px;
}

.content {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2b2d;
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content:hover {
    background-color: #463e43;
}

.c1 {
    grid-area: c1;
    border-top-left-radius: 16px;
}

.c2 {
    grid-area: c2;
    border-right: 2px solid #f930ef93;
    border-left: 2px solid #f930ef93;
}

.c2:hover {
    border-right: 2px solid #f930ee;
    border-left: 2px solid #f930ee;
}

.c3 {
    grid-area: c3;
    border-top-right-radius: 16px;
}

.c4 {
    grid-area: c4;
    border-bottom: 2px solid #f930ef93;
    border-top: 2px solid #f930ef93;
}

.c4:hover {
    border-bottom: 2px solid #f930ee;
    border-top: 2px solid #f930ee;
}

.c5 {
    grid-area: c5;
    border: 2px solid #f930ef93;
}

.c5:hover {
    border: 2px solid #f930ee;
}

.c6 {
    grid-area: c6;
    border-bottom: 2px solid #f930ef93;
    border-top: 2px solid #f930ef93;
}

.c6:hover {
    border-bottom: 2px solid #f930ee;
    border-top: 2px solid #f930ee;
}

.c7 {
    grid-area: c7;
    border-bottom-left-radius: 16px;
}

.c8 {
    grid-area: c8;
    border-right: 2px solid #f930ef93;
    border-left: 2px solid #f930ef93;
}

.c8:hover {
    border-right: 2px solid #f930ee;
    border-left: 2px solid #f930ee;
}

.c9 {
    grid-area: c9;
    border-bottom-right-radius: 16px;
}

.x::after {
    content: url("../media/cross.png");
    animation: showStage 0.2s ease 0s 1 normal both;
}

.o::after {
    content: url("../media/rec.png");
    animation: showStage 0.2s ease 0s 1 normal both;
}

.btns {
    display: none;
    position: absolute;
    left: 50%;
    top: 84%;
    transform: translate(-50%);
    display: flex;
    gap: 15px;
}

#returnBtn, #restartBtn {
    padding: 6px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fceaf6;
    text-shadow: 3px 0px 2px #f930ee;
    background-color: #2e2b2d;
    box-shadow: 1px 1px 4px black;
    transition: all 0.2s ease;
}

#restartBtn {
    font-size: 0.9rem;
    text-shadow: 3px 0px 2px #f930ee;
}

#returnBtn:hover, #restartBtn:hover {
    background-color: #463e43;
}

#returnBtn:active, #restartBtn:active {
    background-color: #2e2b2d;
}


